<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO TB_MEM (
			MEM_ID
			, MEM_PW
			, MEM_EMAIL
			, MEM_HP
		) VALUES (
			#{memId}
			, #{memPw}
			, #{memEmail}
			, #{memHp}
		)
	</insert>
	
	<update id="updateMember" parameterType="member">
		UPDATE TB_MEM
		SET	   MEM_PW = #{memPw}
			   , MEM_EMAIL = #{memEmail}
			   , MEM_HP = #{memHp}
		WHERE  MEM_ID = #{memId}
	</update>
	
	<delete id="deleteMember" parameterType="str">
		DELETE FROM TB_MEM
		WHERE  MEM_ID = #{memId}
	</delete>
	
	<select id="selectMemberByID" resultType="member">
		SELECT MEM_ID memId
			, MEM_PW memPw
			, MEM_EMAIL memEmail
			, MEM_HP memHp
		FROM   TB_MEM
		WHERE  MEM_ID = 'mem001'
	</select>
	
	<select id="selectMemberList" resultType="member">
		SELECT MEM_ID memId
			, MEM_PW memPw
			, MEM_EMAIL memEmail
			, MEM_HP memHp
		FROM   TB_MEM
	</select>
	
</mapper>